.container.profilePage
  .profilePage_user
    .back-btn
      = image_tag 'Group.png'
    .profilePage_user_account
      = current_user.account
  .profilePage_avatar
    = image_tag 'Ellipse.png', id: 'avatar-image'
  .profilePage_info
    .profilePage_info_posts
      %p.count-value 44
      %p.count-name Posts
    .profilePage_info_followers
      %p.count-value 110
      %p.count-name Followers
    .profilePage_info_following
      %p.count-value 44
      %p.count-name Following

  .profilePage_images
    = image_tag 'Rectangle (0).png', class: 'images-0'
    = image_tag 'Rectangle (1).png', class: 'images-1'
    = image_tag 'Rectangle (2).png', class: 'images-2'
    = image_tag 'Rectangle (3).png', class: 'images-3'
    = image_tag 'Rectangle (4).png', class: 'images-4'
    = image_tag 'Rectangle (5).png', class: 'images-5'