- provide(:title, "Edit")
%h1 Tests#edit
= form_for(@test) do |f|
  = render 'commons/error_messages', object: f.object
= form_with model: @test, local: true do |f|
  %div= f.label :name
  %div= f.text_field :name
  %div= f.submit
= link_to '戻る', tests_path
