!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header.header
      .statusBar
        - if user_signed_in?
          .timeStyle
            = image_tag 'bk_9_41.png', class: 'time'
          .mobileSignal
            =image_tag 'bk_MobileSignal.png', class: 'sgn'
          .wifi
            =image_tag 'bk_Wifi.png', class: 'wifi'
          .battery
            =image_tag 'bk_Battery.png', class: 'btr'
        - else
          .timeStyle
            = image_tag 'wt_9_41.png', class: 'time'
          .mobileSignal
            =image_tag 'wt_MobileSignal.png', class: 'sgn'
          .wifi
            =image_tag 'wt_Wifi.png', class: 'wifi'
          .battery
            =image_tag 'wt_Battery.png', class: 'btr'

      - flash.each do |message_type, message|
        .message_type= message

    = yield

    %footer.footer
      .positionBar
        = image_tag 'footerBar.png', class: 'fBar'
